
@{
    ViewData["Title"] = "Resources";
}

<h2 class="align-self-center text-primary">Resources</h2>

<div class="card">
    <h3 href="" class="card-header offset-1">Books</h3>
    <ul class="offset-2">
        <li><a target="_blank" href="https://d1.islamhouse.com/data/ar/ih_books/parts/Forty_Nawawi_Hadith/ar_Forty_Nawawi_Hadith_Dar_Alsalam.pdf">Arba'oon by Imam al-Nawaawi</a> | الأربعون النووية</li>
        <li><a href="" target="_blank"> Nahw and its Evidences </a> | د/ محمد حماسة عبد اللطيف - النحو والدلالة</li>
        <li><a href="" target="_blank">Sarf ul Kafy </a> | أيمن أمين عبدالغني - الصرف الكافي </li>
        <li>Madinah Arabic Book 1</li>
        <li>Madinah Arabic Book 2</li>
        <li>Madinah Arabic Book 3</li>

    </ul>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Lectures</h3>
    <ul class="offset-2">
        <li><a href="https://www.youtube.com/watch?v=J-F0if9IAZA&list=PLRjVk6lykWsQysKHzL1UzDGBM-hddgnYk&index=1" target="_blank"> Explanations of Sarf Sagheer </a> | شرح كتاب الصرف الصغير</li>
        <li><a href="https://www.youtube.com/playlist?list=PLgDRvArraNsshgMoasQFkqMTZe9d4VUnH" target="_blank"> Upper intermediate </a> | دروس اللغة العربية لغير الناطقين بها (الجزء الثاني)</li>
        <li><a href="https://www.youtube.com/playlist?list=PLgDRvArraNst3q5wpiW8-Zpc_4WHRRGTd" target="_blank"> Beginner Arabic </a> | تعليم اللغة العربية-المستوى المبتدئ</li>
        <li><a href="https://www.youtube.com/playlist?list=PLgDRvArraNsv1FhjWnfvIUn8cpRS23xpH" target="_blank"> Lower intermediate </a> | (دروس اللغة العربية لغير الناطقين بها (الجزء الأول</li>
        <li><a href="https://www.youtube.com/playlist?list=PLgDRvArraNssJtkwXRbPCBDtkSiNzHk4i" target="_blank"> Advanced Arabic </a> | (دروس اللغة العربية لغير الناطقين بها المستوى المتقدم (الجزء الثالث</li>
        <li><a href="https://www.youtube.com/playlist?list=PLFYnMzu-3T54sPusIA0X5ZqLvyWl7Y4Vm" target="_blank"> Nahw and Sarf </a> | دورة اللغة العربية نحو وصرف للدكتور أسامة خالد محمد</li>
        <li><a href="https://www.youtube.com/playlist?list=PLWcx1NCg4qRpvjINydDWmB5RFiaxbqPdR" target="_blank"> Explanation of Shudhoor al Dhahb </a> | مادة اللغة العربية ( كتاب شرح شذور الذهب )</li>

    </ul>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Dictionaries</h3>
    <ul class="offset-2">
        <li> Hans-Wehr </li>
        <li><a href="http://aratools.net" target="_blank">Aratools</a></li>
    </ul>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Poems</h3>
</div>
<div class="card">
    <h3 href="" class="card-header offset-1">Manuscripts</h3>
</div>